@model Albumes.Models.Stock

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Esta seguro que desea eliminar este stock?</h3>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <span>Album: @Model.Album.Title</span>
        <br>
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-controller="Artist" asp-action="Stock" asp-route-id="@Model?.ArtistId" class="btn btn-primary">Volver a la lista</a>
    </form>
</div>
